.box{
    background-image: url(winter-4k-pc-desktop-wallpaper-preview\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hed{
    color: white;
    text-align: center;
    padding-right:20px;
}
.form{
    width: 300px;
    margin: 250px auto;
    padding: 10px 20px 30px;
    background-color: rgba(0, 0, 5, .7);
    color: white;
    border-radius: 8px;
}
.input .inputbox1{
    display: block;
}
input[type=text]{
    width: 100%;
    padding:12px 20px;
    margin:8px 0;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius:4px;
}
input[type=email]{
    width: 100%;
    padding:12px 20px;
    margin:8px 0;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius:4px;
}
input[type=password]{
    width: 100%;
    padding:12px 20px;
    margin:8px 0;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius:4px;
}
.but{
    text-align: center;
}
.buttt{
    background-color: brown;
    color:white;
    margin:15px;
    padding: 15px 20px;
    border-radius: 8px;

}
input[type=text]:focus{
    background-color: aqua;
    border:2px solid black;
}
input[type=email]:focus{
    background-color: aqua;
    border:2px solid black;
}
input[type=password]:focus{
    background-color: aqua;
    border:2px solid black;
}

